.amarillo-base-texto{color:#e5b000 !important}
.amarillo-base{background-color:#e5b000 !important}
.azul-base-texto{color:#083c54 !important}
.azul-base{background-color:#083c54 !important}
.amarillo-base-texto{color:#f2af25 !important}
.amarillo-base{background-color:#f2af25 !important}
.gris-base-texto{color:#4c4c4c !important}
.gris-base{background-color:#4c4c4c !important}

.titulo-de-pagina{padding-top: 10px; padding-bottom: 5px; text-align: center;}